# Base
chardet
toml
rich
textual
psutil
requests
pillow
loguru
pydantic
pyyaml
httpx
pytest
emoji
# Chunk Library
#tqdm
#langdetect
#transformers
#nltk
#scikit-learn
# LLM
#vllm
#transformers
#mlx-lm
#
# Audio